* {
	padding: 0;
	margin: 0;
}


.searchbar {
	padding-top: 20px;
	height: 50px;
	background-color: #fafafa;
	width: 100%;
	display: block;
}

.inline-form {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 2px;
	background-color: white;
	display: inline-block;
	height: 44px;
	width: 632px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.inline-form:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.right-bar {
	float: right;
	display: inline-block;
	padding-right: 30px;
	height: 100%;
	min-width: 129px;
}

input[type="text"] {
	border: 0;
	border-style: solid;
	width: 83%;
	height: 100%;
	font-size: 16px;
	padding-left: 16px;
	padding-right: 9px;
}

input[type="text"]:focus {
	outline: none;
}

.wrap {
	height: 40px;
	display: inline-block;
	padding: 0 8px;
}

.mic-image {
	height: 60%;
	display: inline-block;
	vertical-align: middle;
}

.search-image {
	width: 24px;
	display: inline-block;
	vertical-align: middle;
	color: rgb(66, 133, 244);
	fill: rgb(66, 133, 244);
}

button.search-image {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.options {
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url('../images/tiles.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    padding-right: 15px;
	position: relative;
	top: 7px;
}

.options:hover {
	cursor: pointer;
	opacity: .85;
}

.sign-in {
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    color: white;
    font-weight: bold;
    display: inline-block;
	position: relative;
	top: 7px;
	border: 1px solid rgb(66, 133, 244);
    border-radius: 2px;
    font-size: 13px;
    padding: 0 12px;
	height: 30px;
	line-height: 28px;
}

.sign-in:active {
	outline: none;
	background-image: -webkit-linear-gradient(top, rgb(60, 122, 228), rgb(63, 118, 211));
}

.sign-in:focus {
	outline:none;
}

.navbar {
	width: 100%;
	clear:top;
	display: block;
	background-color: #fafafa;
	padding-left: 146px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.navlinks {
	width: 632px;
	display: flex;
}

.navlink {
	display: inline-block;
	padding: 25px 0 12px 0;
	font-size: 13px;
	font-family: arial, sans-serif;
}

.navlink-active {
	border-bottom: 3px solid rgb(66, 133, 244);
	font-weight: bold;
}

.navlinks-right {
	display:flex;
	margin-left: auto;
}

a.nav {
	padding: 0 16px 0 16px;
	color: #777;
	text-decoration: none;
}

a.nav:hover {
	color: #222;
	cursor: pointer;
}

a.nav-active {
	color: rgb(66, 133, 244);
	text-decoration: none;
}

a.nav-active:hover {
	color: rgb(66, 133, 244);
}


a.nav:visited {
	text-decoration: none;
}

a.nav-tools:hover {
	padding: 6px 15px;
    background-color: #f8f8f8;
	color: #777;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241))
}

a.nav-tools:active {
    background-color: #f6f6f6;
	padding: 6px 15px;
	color: #000;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
}

#logo {
	width: 120px;
	height: 44px;
	padding: 5px 13px 0 13px;
	float: left;
	display: block;
}